    body{
      background-color: black;
       justify-items: left;
        color: white;
    }
  .main-container1{
      /* background-color: white; */
      width: 100%;
  }
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .name{
    font-size: 21px;
  }
  .profile img{
    background-color: white;
    justify-content: right;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
border-radius:50%:
  }
  
  .container {
    display: flex;
  }

  .column1 {
    width: 30%;
    text-align: left;
  }

  .column2 {
    width: 30%;
    text-align: center; 
  }

  .column3 {
    width: 30%;
    text-align: right; 
  }
  .edu-row {
  display: flex;
  align-items: left;
  gap: 315px; 
  margin-bottom: 20px;

}

