     body{
      background-color: black;
       justify-items: left;
        color: white;
        margin-left: 30px;
      margin-right: 30px;
    }
  .main-container1{
      /* background-color: white; */
      width: 100%;
      
  }
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .name{
    font-size: 21px;
  }
  .profile {
    justify-item: center;
    align-item: center;
  }
  .profile img{
    background-color: white;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:50%;
  }
  .line {
    border-top: 1px solid white;
    width: 100%;
  }
  .container {
    display: flex;
  }

  .column1 {
    width: 30%;
    text-align: left;
  }

  .column2 {
    width: 30%;
    text-align: center; 
  }

  .column3 {
    width: 30%;
    text-align: right; 
  }
  .edu-row {
  display: flex;
  align-items: left;
  gap: 315px; 
  margin-bottom: 20px;

}
 @media (max-width: 768px) {
  .body {
  font-size: clamp(10px, 2vw, 13px);
  }
  .profile img{
    width: 95px;
    height: 90px;
  }
  .header h1 p {
    font-size: 10px;
  }
}




